.mail-preview {
    width: 100%;
    display: grid;
    grid-template-columns: 50px 1fr;
    font-size: 0.7rem;
    align-items: center;
}

.mail-preview:hover {
    box-shadow:
        inset 1px 0 0 #dadce0,
        inset -1px 0 0 #dadce0,
        0 1px 2px 0 rgba(60, 64, 67, .3),
        0 1px 3px 1px rgba(60, 64, 67, .15)
}

.mail-preview>* {
    display: inline;
    padding: 0.7em;
    height: 35px;
}

.mail-preview .mail-content {
    display: grid;
    grid-template-columns: 180px 1fr 100px;
}

.mail-preview .mail-subject {
    line-height: 1.5;
    overflow-y: hidden;
}

.mail-preview .mail-sent-at {
    text-align: end;
    padding-inline-end: 1.5em;
}

.mail-preview div {
    margin: 0;
    padding-inline-start: 15px;
    align-self: stretch;
    padding-top: 11.5px;
    z-index: 2;
}

.mail-preview.is-read>* {
    font-weight: lighter;
    background-color: var(--mail-color11);
}

.mail-preview.is-read div>* {
    font-weight: inherit;
}