.mail-filter-top {
    display: flex;
    margin: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 
    1px 2px 1px 0px rgba(60, 64, 67, 0.149);
}

.mail-filter-top input {
    align-self: stretch;
    border-radius: 20px;
    padding: 1em;
    flex-grow: 1; 
}

.mail-filter-top button {
    padding-inline-start: 1.5em;
    background-color: white;
    border-radius: 5px;
    font-size: 1rem;
}