.mail-details {
    min-height: 500px;
    min-width:300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-area: 2/2;
    background-color: white;
    border-radius: 20px;
    padding: 2em;
}

.mail-details>* {
    font-weight: lighter;
}

.mail-details .mail-send-details>* {
    font-weight: lighter;
}

.mail-details .mail-subject {
    font-size: 1.5rem;
}

.mail-details h2 {
    font-size: 0.8rem;
}

.mail-details span:not(.mail-sent-at) {
    font-weight: bold;
}

.mail-details .mail-send-details {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 20px 20px;
}

.mail-details .mail-send-details::before {
    grid-row: span 2;
    font-size: 2rem;
    ;
}

.mail-details .mail-sent-at {
    margin-inline-start: 20px;
}

.mail-details .mail-body {
    font-size: 0.9rem;
    flex-grow: 1;
    line-height: 1.5em;
}

.mail-details .actions {
    display: flex;
    gap: 10px;
}

.mail-details .actions button {
    padding: 0.5em 1em;
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
}

.mail-details .actions button:hover {
    background-color: rgba(32, 33, 36, 0.059)
}