/* Mobile Only  */
@media (width <=650px) {
    .mail-filter-side {
        position: fixed;
        top: 0;
        left: 0;
        height: 100dvh;
        min-width: 200px;
        background: white;

        transform: translateX(-100%);
        transition: transform 0.6s, box-shadow 0.6s;
    }

    body.menu-open .mail-filter-side {
        transform: translateX(0);
        box-shadow: -4px 0px 20px rgb(0 0 0 / 30%);
    }

    .mail-filter-side button {
        border-bottom: 1px solid var(--clrPrimary-2);
        border-radius: 0;
        padding: 15px;
    }
}

/* Small */
@media (width > 520px) {

    .mail-preview div.mail-content {
        display: grid;
        grid-template-columns: 170px 1fr 100px;
        grid-template-rows: none;
    }

    .mail-preview>* {
        height: 35px;
    }

    .mail-preview h3.mail-subject {
        grid-row: 1;
        grid-column: 2;
    }

}

/* Medium */
@media (width > 650px) {
    html {
        background-color: var(--main-bg-color);
    }

    .mail-index {
        display: grid;
        grid-template-columns: 200px 1fr;
        gap: 15px;
    }

    .toggle-menu-btn {
        display: none;
    }

    .mail-index button.compose-btn {
        position: initial;
        justify-self: start;
        align-self: center;
        background-color: var(--mail-color3);
        color: black;
        border-radius: 15px;
        padding: 1em 1.5em 1em 1.2em;
        margin-inline-start: 10px;
        box-shadow: none;
        transition: box-shadow .08s linear,
            min-width .15s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mail-index .compose-btn:hover {
        box-shadow:
            0 1px 3px 0 rgba(60, 64, 67, 0.302),
            0 4px 8px 3px rgba(60, 64, 67, 0.149);
    }

    .mail-filter-side>* {
        background-color: var(--main-bg-color);
    }

    .mail-filter-side header.mobile-header {
        display: none;
    }

    .mail-filter-side button.inbox {
        margin-block-start: 0;
        font-weight: bold;
    }

    .mail-filter-side .active {
        background-color: var(--mail-color2);
        color: black;
        font-weight: bold;
    }

    .mail-index .mail-filter-top {
        display: grid;
        align-self: end;
        justify-self: stretch;
        border-radius: 20px;
        margin: 0 15px 0 0;
        background-color: var(--mail-color1);
        box-shadow: none;
    }

    .mail-filter-top>* {
        background-color: var(--mail-color1);
    }

    .mail-list {
        margin-inline-end: 15px;
    }

    .mail-preview.is-read {
        background-color: var(--mail-color11);
    }
}