:root {
    --main-bg-color: #f6f8fc;

    /* Logo colors */
    --logo-color1: #4285f4;
    --logo-color2: #ea4336;
    --logo-color3: #fbbd05;
    --logo-color4: #34a853;

    /* Desktop mail */
    --mail-color1: #eaf1fb;
    --mail-color11: #f2f6fc;
    --mail-color2: #d3e2fd;
    --mail-color3: #c2e7fe;
    --mail-color4: #0957d0;

    --mail-gray1: #e1e7ee;
    --mail-gray2: rgb(95, 99, 104);


    /* Mobile mail */
    --mail-red1: #fd94733b;
    --mail-red2: rgb(215, 9, 9);
}