:root {
    --main-bg-color: #f6f8fc;

    --mail-color1: #eaf1fb;
    --mail-color11: #f2f6fc;
    --mail-color2: #d3e2fd;
    --mail-color3: #c2e7fe;
    --mail-color4: #3862ae;

    --mail-gray1: #e1e7ee;
}