.color-selection-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.30)
}

.color-options {
    display: flex;
    justify-content: space-between;
}

.empty-color,
.color-option {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    margin-inline: 2px;

}

.empty-color:hover,
.color-option:hover {
    outline: 2px solid black;
}

.current-color {
    outline: 3px solid rgb(161, 66, 244);
}