.note-preview {
    padding: 0.5em;
    height: 100%;

}

.note-title {
    text-align: center;
}

.note-img {
    width: 100;
    height: auto;
}

.audio-player {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    min-width: 100px;
}