.note-preview {
    padding: 0.5em;
    height: 100%;
    width: 100%;
    padding-bottom: 20px;
}

.note-title {
    font-size: 16px;
    text-align: center;
    padding-bottom: 5px;
}

.note-img {
    width: 100%;
    height: auto;
    border-radius: 7px;
}

.audio-player {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    min-width: 100px;
}

.todo-done {
    text-decoration: line-through;
    color: rgb(87, 87, 87);
}