html {
    background-color: white;
}

.mail-index input:focus,
.mail-index textarea {
    outline: none;
}

.mail-index .compose-btn {
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 20px;
    right: 20px;
    font-size: 0.875rem;
    color: var(--mail-red2);
    background: white;
    padding: 0.8em;
    border-radius: 30px;
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
        0 4px 8px 3px rgba(60, 64, 67, 0.149);
}

.mail-index .compose-btn:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('https://www.gstatic.com/images/icons/material/system_gm/2x/create_black_24dp.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    margin-inline-end: 1em;
}