html {
    background-color: white;
}

.mail-index input:focus {
    outline: none;
}

.mail-index .compose-btn {
    position: absolute;
    bottom: 20px;
    right: 21px;
    color: var(--mail-red2);
    background: white;
    padding: 0.8em;
    border-radius: 30px;
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
        0 4px 8px 3px rgba(60, 64, 67, 0.149);
}