.app-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 1em;
}

.app-header logo {
    font-size: 1.3rem;
    color: var(--logo-color1);
    padding-inline-start: 0.5em
}

nav a {
    padding: 0.4em 0.6em;
}

nav a:hover {
    background-color: var(--mail-gray1);
    border-radius: 20px;
}

nav a.active {
    color: var(--logo-color1);
}

@media (width > 650px) {
    html {
        background-color: var(--main-bg-color);
    }

    header {
        background: var(--main-bg-color);
    }

    .app-header {
        margin-inline: 23px;
    }
}