.user-msg {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-inline-start: 0.7em;
    color: white;
    background-color: var(--mail-gray2);
    position: absolute;
    bottom: 1em;
    left: 1em;
    border-radius: 10px;
    font-size: 0.875;
}

.user-msg button {
    float: right;
    margin: 1em;
    background: transparent;
    color: white;
}